@import "~seng-scss";

$colorGrey900: #01071A;
$colorGrey800: #1A2030;
$colorGrey700: #343947;
$colorGrey600: #4E525E;
$colorGrey500: #676B76;
$colorGrey400: #84878F;
$colorGrey300: #A3A5AB;
$colorGrey200: #C2C3C7;
$colorGrey100: #E0E1E3;
$colorGrey050: #FFF;

$colorBlue900: #011227;
$colorBlue800: #012755;
$colorBlue700: #013E86;
$colorBlue600: #0154B7;
$colorBlue500: #016BE7;
$colorBlue400: #1B84FF;
$colorBlue300: #51A2FF;
$colorBlue200: #87BFFF;
$colorBlue100: #BDDDFF;
$colorBlue050: #F2FAFF;

$colorError: #FF1B36;

$zLayout: default, zBoost, projectBar, navigation, modal, messageDisplay;
