@import "~seng-scss";

$colorGrey900: #01071a;
$colorGrey800: #1a2030;
$colorGrey700: #343947;
$colorGrey600: #4e525e;
$colorGrey500: #676b76;
$colorGrey400: #84878f;
$colorGrey300: #a3a5ab;
$colorGrey200: #c2c3c7;
$colorGrey100: #e0e1e3;
$colorGrey050: #fff;

$colorBlue900: #011227;
$colorBlue800: #012755;
$colorBlue700: #013e86;
$colorBlue600: #0154b7;
$colorBlue500: #016be7;
$colorBlue400: #1b84ff;
$colorBlue300: #51a2ff;
$colorBlue200: #87bfff;
$colorBlue100: #bdddff;
$colorBlue050: #f2faff;

$colorError: #ff1b36;

$zLayout: default, zBoost, projectBar, navigation, modal, messageDisplay;
